body {
    padding-top: 35px;
    padding-left: 55px;
    padding-right: 55px;
    margin: 0;
    font-family: 'Tahoma';
}

.resume{
    display: flex;
    flex-direction: column;
}

.head{
    display: flex;
    margin: auto;
    font-size: 32.585px;
}

.name{
    font-weight: bold;
    color: #0070C0;
    margin-right: 25px;
}

.nameHR{
    width: 50px;
    height: 3px;
    background-color: grey;
    margin-top: 25px;
}

.mock{
    color: grey;
    margin-left: 25px;
}

.address{
    margin: auto;
    display: flex;
    font-size: 14.63px;
    color: rgb(128, 128, 128);
}

.obj{
    margin-top: 2cm;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14.63px;;
}

.perCon{
    display: flex;
    gap: 35px;
}

.phone{
    display: flex;
    color: grey;
    gap:10px;
    align-items: baseline;
}

.fa-circle{
    font-size: 10px;
    margin-top: 14.63px;
}

.aa{
    text-decoration: none;
    color: grey;
}

.edu{
    margin-top: 45px;
}

.e{
    font-size: 18.62px;
    font-weight: bold;
    color:#0070C0;
}

.regularHR{
    background-color: #0070C0;
    height: 1px;
    border-color: #0070C0;
    margin-top: -2px;
}

.oobb{
    font-size: 14.63px;
}

.eedd{
    font-size: 14.63px;
}

.uniNameAdd{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.degYr{
    display: flex;
    justify-content: space-between;
    font-style: italic;
    font-family: 'Arial';
}

.courses{
    font-size: 13.3px;
}

.skills{
    font-size: 14.63px;
}

.progSkill{
    display: flex;
}

.prog{
    font-weight: bold;
    margin-right: 15px;
}

.projectDes{
    display: flex;
    flex-direction: column;
    font-size: 14.63px;
}

.dest{
    font-family: 'Arial';
    font-style: italic;
}

.acv{
    margin-top: 1.5cm;
}

.projectTitle{
    display: flex;
}

.title{
    font-weight: bold;
    margin-right: 15px;
}

.CertDes{
    display: flex;
    flex-direction: column;
    font-size: 14.63px;
}

.certDes{
    display: flex;
}

.certname{
    font-weight: bold;
    margin-right: 15px;
}

.aaa{
    text-decoration: none;
    color: black;
}